.sub-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  width: 75em;
  margin: 2em auto;
}

//카드
.card-container {
  width: 40%;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn {
    margin-top: 2em;
  }
}
.card-img {
  width: 800px;
  position: relative;
  img {
    width: 100%;
  }
  .check-vaccine {
    display: flex;
    position: absolute;
    top: 48%;
    transform: translateY(50%);
    left: 65%;
    list-style: url("../img/card-som.png");
    li {
      display: list-item;
    }
    .first-check {
      margin-right: 3.5em;
    }
    .check-label {
      font-family: "Cafe24SsurroundAir";
      display: block;
      font-size: 1.2rem;
      margin-right: 0.5rem;
    }
    label {
      width: 1.25rem;
      height: 1.25rem;
      cursor: pointer;
      position: relative;
      &::after {
        // position: absolute;
        content: "";
        display: inline-block;
        width: 1.25rem;
        height: 1.25rem;
        border: 2px solid $color-lightpurple;
        margin-right: 0.5em;
        border-radius: 50%;
        background-color: white;
      }
      &::before {
        display: none;
        content: "\2713";
        font-size: 2.3rem;
        color: $color-mint;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-30%, -55%);
      }
    }
    .checkbox {
      display: flex;
      align-items: flex-end;
    }
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"]:checked + label::before {
      display: block;
    }
  }
  input#name {
    position: absolute;
    top: 40%;
    left: 65%;
    border: none;
    width: 130px;
    @extend %titlefont;
    font-size: 1.2rem;
    color: $color-navy;
    background: transparent;
    text-align: center;
    &::placeholder {
      font-size: 1rem;
    }
  }
}
.card-text {
  font-family: "Cafe24SsurroundAir";
  font-size: 0.8rem;
  position: absolute;
  left: 58%;
  top: 65%;
  span {
    display: none;
  }
  .card-text--first {
    display: block;
  }
}

.dressup-btns {
  position: relative;
  & > li {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    border: dashed 3px #dbdbdb;
    margin-bottom: 2em;
    text-align: center;
    cursor: pointer;

    & > .material-icons {
      pointer-events: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 36px;
      color: gray;
    }
  }
  .on {
    border: none;
    & > .material-icons {
      font-size: 42px;
      color: $color-navy;
    }
    &:after {
      position: absolute;
      z-index: -1;
      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 120%;
      height: 120%;
      border-radius: 50%;
      @extend %gradient3;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}

.sns_link {
  justify-self: flex-end;
  & > li {
    margin-bottom: 2em;
    transition: 0.3s;
    a {
      opacity: 0.5;
    }
    &:last-child {
      position: relative;
    }
    &:hover > a {
      opacity: 1;
    }
  }
}
.sns_link__copyurl {
  position: absolute;
  left: -50%;
  display: none;
  width: max-content;
  .urlInput {
    padding: 0.5rem;
  }
}
//툴팁
.tooltip {
  opacity: 0;
  position: absolute;
  top: -120%;
  right: -25%;
  width: 100px;
  padding: 7px;
  font-size: 14px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(51, 51, 51);
  border: 0px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
}

.tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  top: 90%;
  left: 40px;
}

.urlInput-show {
  display: block;
}
.character__area {
  width: 183px;
  height: 183px;
  background-color: transparent;
  position: absolute;
  top: 37.5%;
  left: 16%;
  img {
    position: absolute;
  }
  img.chara_eye {
    z-index: 2;
  }
  img.chara_mouth {
    z-index: 2;
  }
  img.chara_hair {
    z-index: 3;
  }
  img.chara_cloth {
    z-index: 4;
  }
}
.chara__custom__wrap {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 5;
  left: 25%;
}
.chara__custom {
  position: relative;
  width: 8.75rem;
  height: 12.5rem;
  background-color: white;
  border: 2px solid $color-purple;
  border-radius: 1em;

  .chara__custom__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    width: 100%;
    border-bottom: 1px solid $color-purple;
    .material-icons {
      cursor: pointer;
    }
  }
  .chara__custom__img {
    position: relative;
    width: 6.875em;
    height: 8.125em;
    border: 1px solid $color-cyan;
    border-radius: 1em;
    margin: 0 auto;
    margin-top: 1em;
    img {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .chara__custom__btn {
    border: none;
    position: absolute;
    background: $color-purple;
    padding: 0.7em 0em;
    border-radius: 0 1em 1em 0;
    top: 50%;
    transform: translateY(-25%);
    cursor: pointer;
    .material-icons {
      color: white;
      font-size: 36px;
    }
    &:hover {
      background-color: darken($color-purple, 20%);
    }
  }
  .custom--next {
    left: 100%;
  }
  .custom--prev {
    right: 100%;
    border-radius: 1em 0 0 1em;
  }
}
#hair {
  top: 20%;
}
#eyes {
  top: 30%;
}
#mouth {
  top: 40%;
}
#cloth {
  top: 50%;
}
