body {
  font-family: "Pretendard-Regular", sans-serif;
  color: $color-navy;
}
html {
  scroll-behavior: smooth;
}
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.point_gradient {
  @extend %gradient1;
  @extend %titlefont;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.inner_wide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75em;
}
